<div class="min-h-screen flex surface-ground">
    <div id="app-sidebar-11"
        class="surface-section h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none"
        style="width:280px">
        <div class="bg-black-alpha-90 flex flex-column h-full">
            <div class="flex align-items-center px-5 flex-shrink-0" style="height:60px">
                <img src="/assets/LOGO-+-ISOTIPO-NEGRO.png" alt="Image" height="30">
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-3 m-0">
                    <li>
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li>
                                <a pRipple
                                    class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500"
                                    style="border-radius: 12px">
                                    <i class="pi pi-home mr-2"></i>
                                    <span class="font-medium text-white">Información</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple
                                    class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                    style="border-radius: 12px">
                                    <i class="pi pi-bookmark mr-2 text-blue-500"></i>
                                    <span class="font-medium text-white">Mis cursos</span>
                                </a>
                            </li>
                            <li>
                                <a pRipple
                                    class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                    style="border-radius: 12px" pStyleClass="@next" enterClass="hidden"
                                    enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                                    <i class="pi pi-user mr-2 text-purple-500"></i>
                                    <span class="font-medium text-white">Perfiles</span>

                                </a>
                                <ul
                                    class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                    <li>
                                        <a pRipple
                                            class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                            style="border-radius: 12px" pStyleClass="@next" enterClass="hidden"
                                            enterActiveClass="slidedown" leaveToClass="hidden"
                                            leaveActiveClass="slideup">
                                            <i class="pi pi-user mr-2 text-purple-500"></i>
                                            <span class="font-medium text-white">Perfil 1</span>
                                            <i class="pi pi-chevron-down ml-auto"></i>
                                        </a>
                                        <ul
                                            class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                            <li>
                                                <a pRipple
                                                    class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                                    style="border-radius: 12px">
                                                    <i class="pi pi-table text-purple-500 mr-2"></i>
                                                    <span class="font-medium text-white">View</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a pRipple
                                                    class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                                    style="border-radius: 12px">
                                                    <i class="pi pi-search mr-2 text-purple-500"></i>
                                                    <span class="font-medium text-white">Search</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a pRipple
                                            class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                            style="border-radius: 12px">
                                            <i class="pi pi-user mr-2 text-purple-500"></i>
                                            <span class="font-medium text-white">Perfil 2</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a pRipple
                                    class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                                    style="border-radius: 12px">
                                    <i class="pi pi-cog mr-2 text-pink-500 "></i>
                                    <span class="font-medium text-white">Configuración</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="mt-auto">
                <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                <a pRipple
                    class="m-3 flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                    style="border-radius: 12px" href="/auth/login">
                    <i class="text-white pi pi-sign-out text-4xl"></i>
                    <span class="font-medium text-white" style="margin-left: 15px;">Cerrar sesión</span>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-black-alpha-90 min-h-screen flex flex-column relative flex-auto">
        <div class=" p-5 flex flex-column flex-auto">

            <div class="app-container p-d-flex">
                <div class="settings-container">
                    <h2>Configuración de la cuenta</h2>
                    <div class="settings-info">
                        <p>Cursos activos: 6</p>
                        <p>Número de perfiles: 5</p>
                        <p>Historial de compras</p>
                        <p>Historial de pedidos</p>
                        <p>Fecha de facturación: dd/mm/yy</p>
                        <p>Medio de pago: 8888 **** **** **88</p>
                        <br>
                        <a pRipple
                            class="align-items-center justify-center cursor-pointer p-2 text-white bg-blue-500 border-2 border-transparent hover:bg-blue-600 transition-duration-150 transition-colors"
                            style="border-radius: 12px; padding: 0.75rem 1.5rem; text-align: center;"
                            href="/src/app/pages/miperfil/">
                            <span class="font-medium">Edita tu perfil</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>