<p-toast></p-toast>
<app-spinner-jump class="overlay" *ngIf="isLoading"></app-spinner-jump>

<div class="px-2 md:px-4 lg:px-2 lg:py-2">
  <div class="flex justify-content-between align-items-center flex-wrap mb-3">
    <div class="text-4xl font-bold text-500">CATEGORIAS</div>
    <button
      pButton
      type="button"
      class="p-button-secondary ml-3 p-button-outlined w-auto"
      pRipple
      (click)="showNuevaCategoria()"
      label="Nueva Categoria"
      icon="pi pi-plus"
    ></button>
  </div>

  <div class="grid formgrid p-fluid mt-4">
    <p-table
      #dt2
      [value]="categorias"
      dataKey="id"
      [paginator]="true"
      [rows]="20"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[20, 30, 40]"
      [loading]="isLoading"
      class="w-full"
      [tableStyle]="{ 'min-width': '50rem', 'font-size': '15px' }"
      currentPageReportTemplate="Mostrando {last} Trayectorias de  {totalRecords}"
      [globalFilterFields]="[
        'nombre',
        'origen.descripcion',
        'destino.descripcion',
        'totalOficinas'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <button
            pButton
            label="Limpiar"
            class="p-button-outlined w-10rem"
            icon="pi pi-filter-slash"
            (click)="clear(dt2)"
          ></button>
          <span class="p-input-icon-left ml-auto w-20rem">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Fecha Creacion</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria let-columns="columns">
        <tr class="categoriar-pointer hover:bg-blue-900 hover:text-white">
          <td>{{ categoria.nombre }}</td>
          <td>
            <p-tag [appActivoInactivo]="categoria.estado"> </p-tag>
          </td>

          <td>{{ categoria.fechaCreacion | date : "mediumDate" }}</td>
          <td>
            <img
              *ngIf="categoria.imagenUrl"
              [src]="categoria.imagenUrl"
              alt="Imagen Categoria"
              class="w-10rem h-10rem object-cover"
            />
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary mr-2"
              (click)="editarCategoria(categoria)"
            ></button>

            <p-inputSwitch
              name="payment"
              class="ml-3"
              [(ngModel)]="categoria.activo"
              (ngModelChange)="eliminarCategoria(categoria)"
            ></p-inputSwitch>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-nueva-categoria
  [isNuevaCategoria]="isNuevaCategoria"
  [categoriaId]="categoria.id"
  (onHideEmit)="showNuevaCategoria($event)"
  (refreshCategoria)="listarCategorias()"
></app-nueva-categoria>
