<p-toast></p-toast>
<app-spinner-jump class="overlay" *ngIf="isLoading"></app-spinner-jump>

<p-dialog
  [(visible)]="isNuevaGalaxia"
  (onShow)="onShow()"
  (onHide)="onHide()"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '52vw' }"
  header="NUEVA GALAXIA"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 font-semibold text-xl line-height-3">
        {{ galaxiaId ? "ACTUALIZAR GALAXIA" : "NUEVA GALAXIA" }}
      </h1>
      <span class="text-600 text-base">
        {{
          galaxiaId
            ? "Actualizando Galaxia"
            : "Crea todas las galaxias que desees"
        }}
      </span>
    </div>
  </ng-template>

  <form
    *ngIf="galaxiaForm"
    class="flex flex-column gap-5 mt-4"
    [formGroup]="galaxiaForm"
    (ngSubmit)="crearGalaxia()"
  >
    <div class="grid">
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            pInputText
            id="nombre"
            autocomplete="off"
            formControlName="nombre"
            class="w-full"
          />
          <label for="nombre">Nombre</label>
        </span>
      </div>

      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            pInputText
            id="descripcion"
            autocomplete="off"
            formControlName="descripcion"
            class="w-full"
          />
          <label for="descripcion">Descripción</label>
        </span>
      </div>
    </div>

    <div formArrayName="imagenes">
      <div
        class="grid align-items-center"
        *ngFor="let categoria of categorias; let i = index"
        [formGroupName]="i"
      >
        <div class="field col-12 md:col-4">
          <span class="p-float-label w-full">
            <p-dropdown
              optionLabel="nombre"
              appendTo="body"
              [options]="categorias"
              placeholder="Selecciona una Categoria"
              inputId="categoria-select"
              class="w-full"
              formControlName="categoria"
            />
            <label for="categoria-select">Categorías</label>
          </span>
        </div>

        <div class="field col-12 md:col-4">
          <p-fileUpload
            mode="basic"
            [auto]="true"
            name="file"
            chooseIcon="pi pi-pencil"
            [customUpload]="true"
            accept="image/*"
            [maxFileSize]="1000000"
            styleClass="p-button-outlined p-button-plain w-full"
            chooseLabel="Seleccionar Imagen"
            (onSelect)="onFileSelected($event, i, categoria)"
          />
        </div>

        <div class="field col-12 md:col-4 flex justify-content-center">
          <img
            *ngIf="imagenPreviews[i]"
            [src]="imagenPreviews[i]"
            class="h-10rem w-10rem border-round-3xl object-cover"
            alt="Vista previa de imagen"
          />
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      [label]="galaxiaId == '' ? 'Guardar Galaxia' : 'Actualizar Galaxia'"
      (click)="crearGalaxia()"
    ></p-button>
  </ng-template>
</p-dialog>
