<!-- Cursos para Niños -->
<div class="mb-12">
  <h2 class="titulo-seccion text-center">
    Cursos para Niños
  </h2>
  <app-course-carousel category="ninos"></app-course-carousel>
</div>

<!-- Cursos para Jóvenes -->
<div class="mb-12">
  <h2 class="titulo-seccion text-center">
    Cursos para Jóvenes
  </h2>
  <app-course-carousel category="jovenes"></app-course-carousel>
</div>

<!-- Cursos para Padres -->
<div class="mb-12">
  <h2 class="titulo-seccion text-center">
    Cursos para Padres
  </h2>
  <app-course-carousel category="padres"></app-course-carousel>
</div>