<!-- Cursos para Niños -->
<div class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 text-center text-cyan-500">Cursos para Niños</h2>
  <app-course-carousel category="ninos" bg_color="#232C3D" primary_color="#B85E1D" secondary_color="#B8B31D"></app-course-carousel>
</div>

<!-- Cursos para Jóvenes -->
<div class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 text-center text-cyan-500">Cursos para Jóvenes</h2>
  <app-course-carousel category="jovenes" bg_color="#3E184F"></app-course-carousel>
</div>

<!-- Cursos para Padres -->
<div class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 text-center text-cyan-500">Cursos para Padres</h2>
  <app-course-carousel category="padres"></app-course-carousel>
</div>
