<div
  class="topbar-wrapper flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static"
  style="height: 60px"
>

<div class="flex">
  <a
    pRipple
    class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
    pStyleClass="#app-sidebar-3"
    enterClass="hidden"
    enterActiveClass="fadeinleft"
    leaveToClass="hidden"
    leaveActiveClass="fadeoutleft"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-bars text-4xl"></i>
  </a>
</div>
<a
  pRipple
  class="cursor-pointer block lg:hidden text-700"
  pStyleClass="@next"
  enterClass="hidden"
  enterActiveClass="fadein"
  leaveToClass="hidden"
  leaveActiveClass="fadeout"
  [hideOnOutsideClick]="true"
>
  <i class="pi pi-ellipsis-v text-2xl"></i>
</a>
<ul
class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 shadow-2 lg:shadow-none lg:static"
  style="position: relative; z-index: 0;">
  <li class="mr-2">
    <a
      pRipple
      class="cursor-pointer inline-flex align-items-center justify-content-center border-circle border-2 transition-colors transition-duration-150"
      style="width: 40px; height: 40px; background-color: #1e3a5f; border-color: #ffffff; color: #ffffff;"
    >
      <i class="pi pi-inbox text-xl"></i>
    </a>
  </li>
  <li>
    <a
     pRipple
      class="cursor-pointer inline-flex align-items-center justify-content-center border-circle border-2 transition-colors transition-duration-150"
      style="width: 40px; height: 40px; background-color: #1e3a5f; border-color: #ffffff; color: #ffffff;"
    
    >
      <i
        class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0"
        pBadge
        severity="danger"
      ></i>
      <span class="block lg:hidden font-medium">Notifications</span>
    </a>
  </li>
</ul>
</div>