<p-toast></p-toast>
<app-spinner-jump class="overlay" *ngIf="isLoading"></app-spinner-jump>

<p-dialog
  [(visible)]="isNuevaCategoria"
  (onShow)="onShow()"
  (onHide)="onHide()"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '52vw' }"
  header="NUEVA CATEGORIA"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 font-semibold text-xl line-height-3">
        NUEVA CATEGORIA
      </h1>
      <span class="text-600 text-base"
        >Crea todas las Categorias que desees</span
      >
    </div>
  </ng-template>

  <form
    class="flex flex-column gap-3 mt-4"
    [formGroup]="categoriaForm"
    (ngSubmit)="crearCategoria()"
  >
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="nombre"
              autocomplete="off"
              formControlName="nombre"
            />
            <label class="ml-2" htmlFor="nombre">Nombre</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="descripcion"
              autocomplete="off"
              formControlName="descripcion"
            />
            <label class="ml-2" htmlFor="descripcion">Descripcion</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-12">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <p-fileUpload 
            name="demo[]" 
            url="https://www.primefaces.org/cdn/api/upload.php" 
            (onUpload)="onUpload($event)" 
            [multiple]="true" 
            accept="image/*" 
            [maxFileSize]="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
        </p-fileUpload>
          </span>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      [label]="categoriaId == '' ? 'Guardar Categoria' : 'Actualizar Categoria'"
      (click)="crearCategoria()"
    ></p-button>
  </ng-template>
</p-dialog>
