<p-toast></p-toast>
<app-spinner-jump class="overlay" *ngIf="isLoading"></app-spinner-jump>

<p-dialog
  [(visible)]="isNuevaLanding"
  (onShow)="onShow()"
  (onHide)="onHide()"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '52vw' }"
  header="NUEVA LANDING"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 font-semibold text-xl line-height-3">
        NUEVA LANDING
      </h1>
      <span class="text-600 text-base">Crea todas las Landings que desees</span>
    </div>
  </ng-template>

  <form
    class="flex flex-column gap-3 mt-4"
    [formGroup]="landingForm"
    (ngSubmit)="crearLanding()"
  >
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="titulo"
              autocomplete="off"
              formControlName="titulo"
            />
            <label class="ml-2" htmlFor="titulo">Título</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="imagen"
              autocomplete="off"
              formControlName="imagen"
            />
            <label class="ml-2" htmlFor="imagen">Imagen</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="descripcion"
              autocomplete="off"
              formControlName="descripcion"
            />
            <label class="ml-2" htmlFor="descripcion">Descripción</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="contenido"
              autocomplete="off"
              formControlName="contenido"
            />
            <label class="ml-2" htmlFor="contenido">Contenido</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <p-dropdown
              id="planeta"
              formControlName="planeta"
              optionLabel="nombre"
              placeholder="Selecciona un planeta"
            ></p-dropdown>
            <label class="ml-2" htmlFor="planeta">Planeta</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="color"
              autocomplete="off"
              formControlName="color"
            />
            <label class="ml-2" htmlFor="color">Color</label>
          </span>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      [label]="
        landing.id == '' ? 'Guardar Trayectoria' : 'Actualizar Trayectoria'
      "
      (click)="crearLanding()"
    ></p-button>
  </ng-template>
</p-dialog>
