<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="px-2 md:px-4 lg:px-2 lg:py-2">
  <div class="flex justify-content-between align-items-center flex-wrap mb-3">
    <div class="text-4xl font-bold text-500">GALAXIAS</div>
    <button
      pButton
      type="button"
      class="p-button-secondary ml-3 p-button-outlined w-auto"
      pRipple
      (click)="showNuevaGalaxia()"
      label="Nueva Galaxia"
      icon="pi pi-plus"
    ></button>
  </div>

  <div class="grid formgrid p-fluid mt-4">
    <p-table
      #dt2
      [value]="(galaxias$ | async)!"
      dataKey="id"
      [paginator]="true"
      [rows]="20"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[20, 30, 40]"
      [loading]="isLoading"
      class="w-full"
      [tableStyle]="{ 'min-width': '50rem', 'font-size': '15px' }"
      currentPageReportTemplate="Mostrando {last} galaxias de  {totalRecords}"
      [globalFilterFields]="[
        'nombre',
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <button
            pButton
            label="Limpiar"
            class="p-button-outlined w-10rem"
            icon="pi pi-filter-slash"
            (click)="clear(dt2)"
          ></button>
          <span class="p-input-icon-left ml-auto w-20rem">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Categorias</th>
          <th>Fecha Creacion</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-galaxia let-columns="columns">
        <tr class="cursor-pointer hover:bg-blue-900 hover:text-white">
          <td>{{ galaxia.nombre }}</td>
          <td>{{ galaxia.descripcion }}</td>
          <td>
            <p-chip
            *ngFor="let categoria of galaxia.categorias"
            [label]="categoria.nombre" icon="pi pi-verified" class="mx-2" />
          </td>

          <td>{{ galaxia.fechaCreacion | date : "mediumDate" }}</td>
          <td>
            <p-tag [appActivoInactivo]="galaxia.estado"> </p-tag>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary mr-2"
              (click)="editarGalaxia(galaxia)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="confirmarEliminacion(galaxia)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-nueva-galaxia
  [isNuevaGalaxia]="isNuevaGalaxia"
  [galaxiaId]="galaxia.id"
  (onHideEmit)="showNuevaGalaxia($event)"
></app-nueva-galaxia>
