<div class="min-h-screen flex surface-ground">
  <div id="app-sidebar-11"
    class="surface-section h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none"
    style="width:280px">
    <div class=" bg-black-alpha-90 flex flex-column h-full">
      <div class="flex align-items-center px-5 flex-shrink-0" style="height:60px">
        <img src="/assets/LOGO-+-ISOTIPO-NEGRO.png" alt="Image" height="30">
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-3 m-0">
          <li>

            <ul class="list-none p-0 m-0 overflow-hidden">
              <li>
                <a pRipple
                  class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500"
                  style="border-radius: 12px">
                  <i class="pi pi-home mr-2"></i>
                  <span class="font-medium">Información</span>
                </a>
              </li>
              <li>
                <a pRipple
                  class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                  style="border-radius: 12px" href="/src/app/pages/courses/courses">
                  <i class="pi pi-bookmark mr-2 text-blue-500"></i>
                  <span class="font-medium text-white">Mis cursos</span>

                </a>
              </li>
              <li>
                <a pRipple
                  class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                  style="border-radius: 12px" pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                  leaveToClass="hidden" leaveActiveClass="slideup">
                  <i class="pi pi-user mr-2 text-purple-500"></i>
                  <span class="font-medium text-white">Perfiles</span>

                </a>
                <ul
                  class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                  <li>
                    <a pRipple
                      class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                      style="border-radius: 12px" pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                      leaveToClass="hidden" leaveActiveClass="slideup">
                      <i class="pi pi-user mr-2 text-purple-500"></i>
                      <span class="font-medium text-white">Perfil 1</span>
                    </a>

                  </li>
                  <li>
                    <a pRipple
                      class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                      style="border-radius: 12px">
                      <i class="pi pi-user mr-2 text-purple-500"></i>
                      <span class="font-medium text-white">Perfil 2</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li>
                <a pRipple
                  class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
                  style="border-radius: 12px">
                  <i class="pi pi-cog mr-2 text-pink-500 "></i>
                  <span class="font-medium text-white">Configuración</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <div class=" mt-auto">
        <hr class="mb-3 mx-3 border-top-0 border-none surface-border" />
        <a pRipple
          class="m-3 flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors"
          style="border-radius: 12px">
          <i class="pi pi-sign-out text-4xl text-white"></i>
          <span class="font-medium text-white" style="margin-left: 15px;">Cerrar sesión</span>
        </a>
      </div>
    </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto">
    <a pRipple class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
      pStyleClass="#app-sidebar-11" enterClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden"
      leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
      <i class="pi pi-bars text-4xl"></i>
    </a>
    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
      enterActiveClass="fadein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
      <i class="pi pi-ellipsis-v text-2xl"></i>
    </a>

    <div class="bg-black-alpha-90 p-5 flex flex-column flex-auto">
      <div class="  surface-section flex-auto">


        <div class="wp-content justify-content-center bg-black-alpha-90  py-8  lg:px-4  text-white">
          <div class=" justify-content-center gap-4 flex flex-wrap bg-black-alpha-0">
            <p-card header="{{ course.name }}" [style]="{ 
            width: '300px', 
            background: '#3c4043', 
            color: '#f9f9f9', 
            'border-radius': '20px',
            'overflow': 'hidden', 
        }" class=" contenedor-carta mx-6 lg:mx-2 mb-6" *ngFor="let course of courses">
              <ng-template pTemplate="header">
                <img alt="Card"
                  src="https://academiaformtic.com/wp-content/uploads/2023/11/Ciberbullying-sin-secretos-Curso-Formtic.png"
                  style="border-top-left-radius: 20px; border-top-right-radius: 20px; width: 100%;" />
              </ng-template>

              <p class="text-white">
                {{ course.description }}
              </p>

              <ng-template pTemplate="footer">
                <div class="card">
                  <p-progressBar [value]="50" />
                </div>
                <br>
                <div class="flex gap-3 mt-1">
                  <p-button label="Ver curso" class="w-full" styleClass="w-full" icon="pi pi-arrow-right" />
                </div>
              </ng-template>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>