<!-- Interfaz cuando no esta logueado -->
<div
  class="px-4 py-8 md:px-6 lg:px-8"
  *ngIf="(auth.isLoggedIn$ | async) === false"
  style="
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(&quot;https://images.pexels.com/photos/4497038/pexels-photo-4497038.jpeg&quot;);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <span
    class="estrella"
    style="top: 10%; left: 15%; animation-duration: 2s"
  ></span>
  <span
    class="estrella estrella-blanca"
    style="top: 10%; left: 15%; animation-duration: 2s"
  ></span>
  <span
    class="estrella estrella-turquesa"
    style="top: 20%; left: 40%; animation-duration: 3s"
  ></span>
  <span
    class="estrella estrella-amarilla"
    style="top: 5%; left: 70%; animation-duration: 1.5s"
  ></span>
  <span
    class="estrella estrella-verde"
    style="top: 35%; left: 85%; animation-duration: 2.5s"
  ></span>
  <span
    class="estrella estrella-turquesa"
    style="top: 60%; left: 25%; animation-duration: 1.8s"
  ></span>
  <span
    class="estrella estrella-amarilla"
    style="top: 75%; left: 60%; animation-duration: 2.2s"
  ></span>
  <span
    class="estrella estrella-verde"
    style="top: 15%; left: 55%; animation-duration: 3.5s"
  ></span>
  <span
    class="estrella estrella-blanca"
    style="top: 50%; left: 10%; animation-duration: 1.3s"
  ></span>
  <span
    class="estrella estrella-turquesa"
    style="top: 80%; left: 90%; animation-duration: 2.8s"
  ></span>
  <span
    class="estrella estrella-amarilla"
    style="top: 45%; left: 50%; animation-duration: 1.6s"
  ></span>

  <span class="meteorito"></span>
  <span class="meteorito-2"></span>
  <span class="meteorito-3"></span>

  <div class="flex flex-wrap" style="align-items: center">
    <div class="w-full lg:w-6 px-4 py-2 md:px-6 lg:px-8">
      <h1 class="text-6xl text-white mb-4 font-medium titulo-animado">
        ¡Descubre mundos 3D llenos de aprendizaje y diversión!
      </h1>
      <p
        class="line-height-3 mt-0 mb-7 p-0 text-white-alpha-80 text-2xl parrafo-animado"
      >
        Descubre cursos interactivos para toda la familia y desarrolla
        habilidades digitales de forma divertida y segura. ¡Empieza a aprender
        hoy mismo!
      </p>

      <!-- Botón CTA -->
      <div class="flex flex-wrap align-content-start justify-content-start">
        <button
          routerLink="/courses"
          pButton
          pRipple
          class="px-6 py-3 rounded font-semibold text-black shadow-[0_4px_0_0_black] hover:shadow-[0_0_10px_2px_#F7C50F] hover:translate-y-1 hover:bg-[#191919] hover:text-black bg-yellow-500 transition duration-300 home-btn-cta"
        >
          Explorar Cursos
        </button>
      </div>
    </div>

    <div class="col-12 lg:col-6 flex justify-content-center align-items-center">
      <img
        src="https://i.postimg.cc/CL2zRx21/WORLD.png"
        alt="Mundo"
        class="globo-animado"
        style="width: 120%; max-width: 550rem; height: auto"
      />
    </div>
  </div>
</div>

<!-- Interfaz papa logeado -->
<div *ngIf="auth.isLoggedIn$ | async" class="flex flex-col gap-4 mb-5">
  <!-- Seccion de bienvenida padre -->
  <section
    class="relative w-full h-[400px] bg-cover bg-center flex flex-col gap-3 justify-end items-center px-3 text-center pb-5"
    style="
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(&quot;assets/img/imagenBienvenida.png&quot;);
    "
  >
    <h1 class="text-4xl md:text-5xl font-bold">Bienvenido, Papá</h1>

    <p class="text-sm md:text-base">
      Tu aventura junto a tu familia te espera en el mundo digital.
    </p>

    <a
      routerLink="/my-family"
      class="items-center gap-2 bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-5 py-2.5 rounded-full transition-colors cursor-pointer inline-flex"
    >
      <span>Gestiona tu cuenta</span>
      <i class="pi pi-arrow-right"></i>
    </a>
  </section>

  <!-- Seccion de cursos disponibles -->
  <section class="flex flex-col gap-2 justify-start px-1 md:px-2 w-full">
    <!-- Filtros -->
    <div class="space-y-4 text-xs px-2 md:px-5">
      <h2 class="text-2xl font-bold tracking-wide">Cursos disponibles</h2>
      <!-- Galaxias -->
      <div class="text-gray-400">
        <p class="mb-2 uppercase tracking-wider font-medium">Galaxias</p>
        <div class="flex flex-wrap gap-2">
          <p-chip
            label="Peligros en la Salud física"
            styleClass="!bg-neutral-900 !text-gray-300 !text-xs cursor-pointer hover:!bg-neutral-800"
          ></p-chip>
          <p-chip
            label="Salud Mental"
            styleClass="!bg-neutral-900 !text-gray-300 !text-xs cursor-pointer hover:!bg-neutral-800"
          ></p-chip>
          <p-chip
            label="Habilidades Digitales"
            styleClass="!bg-neutral-900 !text-gray-300 !text-xs cursor-pointer hover:!bg-neutral-800"
          ></p-chip>
          <p-chip
            label="Riesgos Cibernéticos"
            styleClass="!bg-white !text-black font-semibold !text-xs cursor-pointer"
          ></p-chip>
        </div>
      </div>

      <!-- Tags -->
      <div>
        <p class="mb-2 uppercase tracking-wider font-medium">Tags</p>
        <div class="flex flex-wrap gap-2">
          <p-chip
            label="Niños"
            styleClass="!bg-white !text-black font-medium !text-xs cursor-pointer"
          ></p-chip>
          <p-chip
            label="Jóvenes"
            styleClass="!bg-white !text-black font-medium !text-xs cursor-pointer"
          ></p-chip>
          <p-chip
            label="Padres"
            styleClass="!bg-white !text-black font-medium !text-xs cursor-pointer"
          ></p-chip>
        </div>
      </div>
    </div>

    <!-- Scroll de cursos -->
    <div class="flex gap-2 items-center w-full">
      <!-- Flecha izquierda -->
      <button
        (click)="scrollLeft()"
        type="button"
        class="shrink-0 z-10 text-gray-400 hover:text-white transition-colors cursor-pointer focus:outline-none"
        aria-label="Anterior"
      >
        <i class="pi pi-chevron-left text-xl sm:text-2xl"></i>
      </button>

      <!-- Listado de tarjetas -->
      <div
        #sliderContainer
        class="flex gap-3 overflow-x-auto overflow-y-hidden scroll-smooth no-scrollbar w-full"
      >
        <div *ngFor="let curso of cursos" class="shrink-0 w-[285px]">
          <app-card-curso
            [curso]="curso"
            primary_color="#F5C518"
            secondary_color="#e0a800"
            class="block w-full"
          >
          </app-card-curso>
        </div>
      </div>

      <!-- Flecha derecha -->
      <button
        (click)="scrollRight()"
        type="button"
        class="shrink-0 z-10 text-gray-400 hover:text-white transition-colors cursor-pointer focus:outline-none"
        aria-label="Siguiente"
      >
        <i class="pi pi-chevron-right text-xl sm:text-2xl"></i>
      </button>
    </div>
  </section>
</div>
