<div class="bg-black-alpha-90 px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap bg-black-alpha-90">
    <div class="w-full bg-black-alpha-90 lg:w-6 px-4 py-2 md:px-6 lg:px-8">
      <div class="text-4xl text-white mb-3 font-medium">
        ¡Descubre mundos 3D llenos de aprendizaje y diversión para toda la
        familia!
      </div>
      <p class="line-height-3 mt-0 mb-7 p-0 text-white-alpha-80 text-2xl">
        "Descubre la educación digital en impresionantes entornos 3D. Nuestros
        cursos interactivos para padres, niños y jóvenes te brindan las
        herramientas y conocimientos para navegar el mundo digital con confianza
        y seguridad. Sumérgete en aventuras educativas divertidas y esenciales
        para una experiencia en línea segura. ¡Transforma tu aprendizaje y el de
        tu familia hoy mismo!"
      </p>

      <div class="flex flex-wrap align-content-start justify-content-start">
        <button
        routerLink="/courses"
          pButton
          pRipple
          label="Explorar Cursos"
          class="bg-black-alpha-30 border-white hover:bg-white hover:text-black-alpha-90 text-2xl"
        ></button>
      </div>
    </div>

    <div
      class="hidden lg:block bg-no-repeat bg-cover"
      style="
        background-image: url('https://cdn.pixabay.com/photo/2016/08/24/14/29/earth-1617121_1280.jpg');
        width: 40rem;
        height: 25rem; /* Ajusta la altura según sea necesario */
      "
    ></div>
  </div>
</div>
