<p-toast></p-toast>
<app-spinner-jump class="overlay" *ngIf="isLoading"></app-spinner-jump>

<p-dialog
  [(visible)]="isNuevoCurso"
  (onShow)="onShow()"
  (onHide)="onHide()"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '52vw' }"
  header="NUEVO CURSO"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 font-semibold text-xl line-height-3">
        {{ curso.id ? 'Actualizar Curso' : 'Nuevo Curso' }}
      </h1>
      <span class="text-600 text-base">
        {{ curso.id ? 'Actualizacion del Curso : [ '+ curso.nombre + ' ]' : 'Crea todas las Cursos que desees' }}
      </span>
    </div>
  </ng-template>

  <form
    class="flex flex-column gap-3 mt-4"
    [formGroup]="cursoForm"
  >
    <div class="grid formgrid p-fluid">
      <!-- Nombre -->
      <div class="field mb-4 col-12">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="nombre"
              autocomplete="off"
              formControlName="nombre"
            />
            <label class="ml-2" htmlFor="nombre">Nombre del Curso</label>
          </span>
        </div>
        <small class="p-error" *ngIf="cursoForm.get('nombre')?.hasError('required') && cursoForm.get('nombre')?.touched">
          El nombre es obligatorio.
        </small>
      </div>

      <!-- Descripción -->
      <div class="field mb-4 col-12">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <textarea
              pInputTextarea
              id="descripcion"
              autocomplete="off"
              formControlName="descripcion"
              rows="3"
            ></textarea>
            <label class="ml-2" htmlFor="descripcion">Descripción</label>
          </span>
        </div>
        <small class="p-error" *ngIf="cursoForm.get('descripcion')?.hasError('required') && cursoForm.get('descripcion')?.touched">
          La descripción es obligatoria.
        </small>
      </div>
      
      <div class="grid formgrid gap-2 col-12">
      
        <!-- Fecha Inicio -->
        <div class="field mb-4 col-5">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <p-calendar appendTo="body" [showIcon]="true" formControlName="fechaInicio"></p-calendar>
              <label class="ml-2" htmlFor="fechaInicio">Fecha de Inicio</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('fechaInicio')?.hasError('required') && cursoForm.get('fechaInicio')?.touched">
            La fecha de inicio es obligatoria.
          </small>
        </div>

        <!-- Fecha Finalización -->
        <div class="field mb-4 col-5">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <p-calendar appendTo="body" [showIcon]="true" formControlName="fechaFinalizacion"></p-calendar>
              <label class="ml-2" htmlFor="fechaFinalizacion">Fecha de Finalización</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('fechaFinalizacion')?.hasError('required') && cursoForm.get('fechaFinalizacion')?.touched">
            La fecha de finalización es obligatoria.
          </small>
        </div>

        <!-- Categoría -->
        <div class="field mb-4 col-5">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <p-dropdown 
                [options]="categorias" 
                optionLabel="nombre" 
                optionValue="id" 
                formControlName="categoriaId"
                placeholder="Seleccione una Categoría"></p-dropdown>
              <label class="ml-2" htmlFor="categoriaId">Categoría</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('categoriaId')?.hasError('required') && cursoForm.get('categoriaId')?.touched">
            Selecciona una categoría.
          </small>
        </div>

        <!-- Planeta -->
        <div class="field mb-4 col-5">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <p-dropdown 
                [options]="planetas" 
                optionLabel="nombre" 
                optionValue="id" 
                formControlName="planetaId"
                placeholder="Seleccione un Planeta"></p-dropdown>
              <label class="ml-2" htmlFor="planetaId">Planeta</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('planetaId')?.hasError('required') && cursoForm.get('planetaId')?.touched">
            Selecciona un planeta.
          </small>
        </div>

        <!-- Imagen -->
        <div class="field mb-4 col-5">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <input 
                pInputText id="imagen" 
                autocomplete="off" 
                formControlName="imagen" />
              <label class="ml-2" htmlFor="imagen">URL de Imagen</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('imagen')?.hasError('required') && cursoForm.get('imagen')?.touched">
            La URL de la imagen es obligatoria.
          </small>
        </div>

        <!-- Video -->
        <div class="field mb-4 col-5">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <input 
                pInputText id="video" 
                autocomplete="off" 
                formControlName="video" />
              <label class="ml-2" htmlFor="video">URL de Video</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('video')?.hasError('required') && cursoForm.get('video')?.touched">
            La URL del video es obligatoria.
          </small>
        </div>       
      </div>

      <div class="grid formgrid gap-3 col-12">
        <!-- Precio -->
        <div class="field mb-4 col-3">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <input 
                pInputText type="number" 
                id="precio" 
                formControlName="precio" />
              <label class="ml-2" htmlFor="precio">Precio</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('precio')?.hasError('required') && cursoForm.get('precio')?.touched">
            El precio es obligatorio.
          </small>
        </div>
         
        <!-- Duración -->
        <div class="field mb-4 col-3">
          <div class="mb-3 flex align-items-center">
             <span class="p-float-label col-12">
              <input 
                pInputText type="number" 
                id="duracion" 
                formControlName="duracion" />
              <label class="ml-2" htmlFor="duracion">Duración (Horas)</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('duracion')?.hasError('required') && cursoForm.get('duracion')?.touched">
            La duración es obligatoria.
          </small>
        </div>
 
        <!-- Cantidad de Alumnos -->
        <div class="field mb-4 col-3">
          <div class="mb-3 flex align-items-center">
            <span class="p-float-label col-12">
              <input 
                pInputText type="number" 
                id="cantidadAlumnos" 
                formControlName="cantidadAlumnos" />
              <label class="ml-2" htmlFor="cantidadAlumnos">Cantidad de Alumnos</label>
            </span>
          </div>
          <small class="p-error" *ngIf="cursoForm.get('cantidadAlumnos')?.hasError('required') && cursoForm.get('cantidadAlumnos')?.touched">
            La cantidad de alumnos es obligatoria.
          </small>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      [label]="curso.id ? 'Actualizar Curso' : 'Crear Curso'"
      (click)="curso.id ? actualizarCurso() : crearCurso()"
    ></p-button>
  </ng-template>
</p-dialog>

