.card-curso{
    perspective: 1000px;
    backface-visibility: hidden;
}

.card-inner {
    transform-style: preserve-3d;
    overflow: hidden;
    transition: all 200ms ease;
}

.card-curso .card-inner {
    transition: all 200ms ease;
}

.card-curso:hover .card-inner {
    animation: rotate_card .6s linear;
}

.card-curso:hover .card-inner .card-image {
    transform: rotateY(180deg) !important;
    transition-delay: .3s;

}
.card-curso:hover .card-inner .card-content {
    transform: rotateY(0deg) !important;
    transition-delay: .3s;
}

.card-image, .card-content{
    backface-visibility: hidden;
}

.card-image {
    z-index: 9;
    transform: rotateY(0deg);

}
.card-image::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, transparent, transparent);

}
.card-content{
    transform: rotateY(180deg);

}
.card-curso-card-button {
    background: linear-gradient(90deg,var(--dynamic-hover-color-sec),var(--dynamic-hover-color),var(--dynamic-hover-color-sec),var(--dynamic-hover-color-sec),var(--dynamic-hover-color));
    background-size: 400%;
    border-radius: 3rem;
}
.card-curso-card-button:hover{
    background-position: 30%;
}

.card-curso-button-carrito:hover i{
    animation: carrito_button 1.2s infinite linear;
}
.card-curso-card-button, .card-curso-button-carrito{
    transition: all 200ms ease;
}
.card-curso-card-button:hover, .card-curso-button-carrito:hover {
    transform: translateY(2px);
    transition: all 500ms ease;
}

@keyframes rotate_card {
    0%,100%{
        transform: scale(1) rotateY(0deg);
    }
    50%{
        transform: scale(1) rotateY(90deg);
    }
}

@keyframes carrito_button {
    0%,100%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
}