<p-carousel
  *ngIf="cursos.length>0"
  styleClass="mi-carousel"
  [value]="cursos"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="10000"
  [responsiveOptions]="responsiveOptions"
  class="mb-8"
>
  <ng-template pTemplate="item" let-curso>
    <div class="px-4"> 
    <app-card-curso [curso]="curso"></app-card-curso>
    </div>
  </ng-template>
</p-carousel>
<div *ngIf="cursos.length===0" class="flex flex-col items-center justify-center">
  <p-progressSpinner styleClass="w-4rem h-4rem"strokeWidth="4" animationDuration="1.6s" aria-label="Cargando"></p-progressSpinner>
</div>