@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
:root{
  --color-card-primary: #000;
  --font-family:        'Inter', sans-serif;

  /* colores */
  --color-green-50: #ebfff0;
  --color-green-100: #c0ffd0;
  --color-green-200: #a1ffb9;
  --color-green-300: #76ff98;
  --color-green-400: #5cff85;
  --color-green-500: #33ff66;
  --color-green-600: #2ee85d;
  --color-green-700: #24b548;
  --color-green-800: #1c8c38;
  --color-green-900: #156b2b;

  --color-dark-green-50: #e6f0e6;
  --color-dark-green-100: #b0d0b0;
  --color-dark-green-200: #8ab98a;
  --color-dark-green-300: #549854;
  --color-dark-green-400: #338533;
  --color-dark-green-500: #006600;
  --color-dark-green-600: #005d00;
  --color-dark-green-700: #004800;
  --color-dark-green-800: #003800;
  --color-dark-green-900: #002b00;

  --color-blue-50: #e9f3fa;
  --color-blue-100: #badaf0;
  --color-blue-200: #99c8e9;
  --color-blue-300: #6bafdf;
  --color-blue-400: #4ea0d9;
  --color-blue-500: #2288cf;
  --color-blue-600: #1f7cbc;
  --color-blue-700: #186193;
  --color-blue-800: #134b72;
  --color-blue-900: #0e3957;

  --color-light-blue-50: #ebfaff;
  --color-light-blue-100: #c0efff;
  --color-light-blue-200: #a1e8ff;
  --color-light-blue-300: #76ddff;
  --color-light-blue-400: #5cd6ff;
  --color-light-blue-500: #33ccff;
  --color-light-blue-600: #2ebae8;
  --color-light-blue-700: #2491b5;
  --color-light-blue-800: #1c708c;
  --color-light-blue-900: #15566b;

  --color-grey-50: #efefef;
  --color-grey-100: #cccccc;
  --color-grey-200: #b4b4b4;
  --color-grey-300: #929292;
  --color-grey-400: #7d7d7d;
  --color-grey-500: #5c5c5c;
  --color-grey-600: #545454;
  --color-grey-700: #414141;
  --color-grey-800: #333333;
  --color-grey-900: #272727;

  --color-yellow-50: #fffae6;
  --color-yellow-100: #ffefb0;
  --color-yellow-200: #ffe88a;
  --color-yellow-300: #ffdd54;
  --color-yellow-400: #ffd633;
  --color-yellow-500: #ffcc00;
  --color-yellow-600: #e8ba00;
  --color-yellow-700: #b59100;
  --color-yellow-800: #8c7000;
  --color-yellow-900: #6b5600;

  --color-orange-50: #fff5e6;
  --color-orange-100: #ffdfb0;
  --color-orange-200: #ffd08a;
  --color-orange-300: #ffbb54;
  --color-orange-400: #ffad33;
  --color-orange-500: #ff9900;
  --color-orange-600: #e88b00;
  --color-orange-700: #b56d00;
  --color-orange-800: #8c5400;
  --color-orange-900: #6b4000;

  --font-size-hero:   3rem;        /* 48px */
  --font-size-page:   2rem;        /* 32px */
  --font-size-heading: 1.5rem;     /* 24px */
  --font-size-sub:    1.125rem;    /* 18px */
  --font-size-subtitle: 1.25rem;   /* 20px */
  --font-size-base:   1rem;        /* 16px */
  --font-size-sm:     0.875rem;    /* 14px */
  --font-size-xs:     0.6875rem;   /* 11px */

  
}
body {
  margin: 0;
  background: #000;
  color: #fff; 
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in-out {
  50% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.animate-fade-in-out {
  animation-name: fade-in-out;
  animation-duration: .4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* === Personalización de flechas del Carousel === */
/* Asegúrate de que tu <p-carousel> tenga styleClass="mi-carousel" */
.mi-carousel .p-carousel-prev,
.mi-carousel .p-carousel-next {
  /* fondo del botón */
  background-color: var(--dynamic-primary-color) !important;  /* mas claro */
  /* quita cualquier borde que venga del tema */
  border: none !important;  
  /* tamaño */
  width: 2.5rem !important;
  height: 2.5rem !important;
  /* círculo */
  border-radius: 50% !important;
  /* sombra */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3) !important;
  /* centra el icono */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* color e icono */
.mi-carousel .p-carousel-prev .p-button-icon,
.mi-carousel .p-carousel-next .p-button-icon {
  color: #fff !important;
  font-size: 1.25rem !important;
}

/* hover */
.mi-carousel .p-carousel-prev:hover,
.mi-carousel .p-carousel-next:hover {
  background-color: #15b6cf !important;  /* más oscuro */
}

.p-button .p-button-icon-left {
  margin-right: -3rem !important;
  margin-left: 2rem !important;
}

/* TIPOGRAFÍAS  */

.title-hero {
  font-size:   var(--font-size-hero);
  font-weight: 700;        /* bold */
}

.title-page {
  font-size:   var(--font-size-page);
  font-weight: 700;        /* bold */
}

.subtitle {
  font-size:   var(--font-size-subtitle);
  font-weight: 400;        /* regular */
}

.heading {
  font-size:   var(--font-size-heading);
  font-weight: 600;        /* semi-bold */
}

.sub-heading {
  font-size:   var(--font-size-sub);
  font-weight: 600;        /* semi-bold */
}

.body-base {
  font-size:   var(--font-size-base);
  font-weight: 400;        /* regular */
}

.body-strong {
  font-size:   var(--font-size-base);
  font-weight: 700;        /* bold */
}

.body-emphasis {              
  font-size:   var(--font-size-base);
  font-weight: 400;
  font-style:  italic;    
}

.body-link {
  font-size:        var(--font-size-base);
  font-weight:      500;       /* medium */
  text-decoration:  underline;
  cursor:           pointer;
}

.body-small {
  font-size:   var(--font-size-sm);
  font-weight: 400;
}

.label-1 {
  font-size:   var(--font-size-sm);  
  font-weight: 600;
}

.label-2 {                           
  font-size:   var(--font-size-xs);  
  font-weight: 600;
}

.text-field {
  font-size:   var(--font-size-sm);  /* 14px */
  font-weight: 400;
}