<div class="text-center mb-8 mt-5">
  <h1 class="text-4xl font-bold mb-2 text-cyan-400">Cursos para Padres</h1>
</div>
<div class="w-full flex flex-col items-center justify-center">
  <p-progressSpinner *ngIf="cursos.length === 0" styleClass="w-4rem h-4rem"strokeWidth="4" animationDuration="1.6s" aria-label="Cargando"></p-progressSpinner>
</div>
<div class="grid 
    grid-cols-1 
    sm:grid-cols-1
    md:grid-cols-2 
    lg:grid-cols-3 
    xl:grid-cols-4
    gap-6 
    px-4">
    
  <ng-container *ngFor="let curso of cursos">
    <app-card-curso [curso]="curso" bg_color="#141e30" primary_color="#19315E" secondary_color="#3b3b5f"></app-card-curso>
  </ng-container>
</div>
